{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上海菱重增压器有限公司</title>
    <link rel="shortcut icon" href="{{ FAVICON_URL }}" type="image/x-icon">
    {% include '_head_css_js.html' %}
    <link href="{% static "css/jumpserver.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static "js/jumpserver.js" %}"></script>
    <script src="{% static "js/plugins/qrcode/qrcode.min.js" %}"></script>
    <style>
        .captcha {
             float: right;
         }
    </style>
</head>

<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-0">

            </div>
            <div class="col-md-6">

                <div class="ibox-content">
                    <div>
                        <img src="{% static 'img/logo.png' %}" style="vertical-align: -12px;" width="87" height="40">
                        <!-- <span class="font-bold text-center" style="font-size: 24px; font-family: inherit; margin-left: 20px">{% trans 'MFA certification' %}</span> -->
                        <h3 style="text-align: center; font-family: 'Lato', sans-serif; display: inline-block; *display: inline; *zoom:1; font-size: 24px; font-family: inherit; margin-left: 20px">上海菱重堡垒机</h3>
                    </div>
                    <div  class="m-t">

                        <div class="form-group">
                            <p style="margin:30px auto;" class="text-center"><strong style="color:#000000">{% trans 'The account protection has been opened, please complete the following operations according to the prompts' %}</strong></p>
                            <div class="text-center">
                                <img src="{% static 'img/otp_auth.png' %}" alt="" width="72px" height="117">
                            </div>
                            <p style="margin: 30px auto">&nbsp;{% trans 'Open Authenticator and enter the 6-bit dynamic code' %}</p>
                        </div>

                        <form class="m-t" role="form" method="post" action="">

                            {% csrf_token %}
                            {% if 'otp_code' in form.errors %}
                                <p class="red-fonts">{{ form.otp_code.errors.as_text }}</p>
                            {% endif %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="otp_code" placeholder="{% trans 'Six figures' %}" required="">
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'Next' %}</button>

                            <a href="#">
                                <small>{% trans "Can't provide security? Please contact the administrator!" %}</small>
                            </a>

                        </form>
                    </div>
                    <p class="m-t">
                    </p>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</body>
</html>
